body
{
	background-color:	 #ffdb4d;

}
.circle
{
	position: relative;
	width:400px;
	height: 400px;
	border:10px solid white;
	 background-image:  linear-gradient(to right, red , yellow);
	  box-shadow: 0px 0px 10px 20px rgba(0,0,0,.5);
	
	border-radius: 200px;
	
	padding: 20px 20px;
}
.container
{
	padding-top: 5%;
	padding-bottom: 5%;
}
.b12
{
	font-size: 20px;
}
.b3
{
	font-size: 20px;
	float: right;
	margin-top: 10%;
}
.b9
{
	font-size: 20px;
	float:left;
	margin-top: -55%;
}
.b6
{
	font-size: 20px;
	margin-top: 0;
}
.b1
{
	font-size: 20px;
	margin-left: 50%;

}
.b2
{
	font-size: 20px;
	margin-left: 80%;
	margin-top: 10%;

}
.b4
{
	font-size: 20px;
	margin-left: 80%;
	margin-top: 30%;
}
.b5
{
	font-size: 20px;
	margin-left: 50%;
	margin-top: 10%;
}
.b7
{
	font-size: 20px;
	margin-right:50%;
	margin-top: -17%;
}
.b8
{
	font-size: 20px;
	margin-right:80%;
	margin-top: -27%;
}
.b10
{
	font-size: 20px;
	margin-right:85%; 
	margin-top: -50%;
}
.b11
{
	font-size: 20px;
	margin-right:55%; 
	margin-top: -25%;
}


.c1
{
	width:16px;
	height:16px;
	border-radius: 8px;
	background-color: black;
	margin-top: 30%;
	z-index: 999;
}#second
{
	position: absolute;
	width:2px;
	height:110px;
	border-radius: 10px;
	left:49.5%;
	top:23%;
	background-size: 100%;
 	transform-origin: bottom;
 	
	background-color: black;
}
#minute
{
	position: absolute;
	width:5px;
	height:80px;
	left:49.5%;
	top:30%;
	background-size: 100%;
	border-radius: 10px;
	
 	transform-origin: bottom;
	background-color: black;
}
#hour
{
	position: absolute;
	width:5px;
	height:50px;
	border-radius: 10px;
	background-size: 100%;
 	transform-origin: bottom;
 	
	background-color: black;
	left:50%;
	top:38%;
}

@media screen and(min-width:200px)
{
	.circle
	{
		position: relative;
		width:300px;
		height:300px;
		border:10px solid white;
	 	background-image:  linear-gradient(to right, red , yellow);

		box-shadow: 0px 0px 10px 20px rgba(0,0,0,.5);
		border-radius: 150px;
	
		padding: 20px 20px;
	}
	.b12
	{
		font-size: 20px;
	}
	.b3
	{
		font-size: 20px;
		float: right;
		margin-top: 10%;
	}
	.b9
	{
		font-size: 20px;
		float:left;
		margin-top: -60%;
	}
	.b6
	{
		font-size: 20px;
		margin-top: 0;
	}
	.b1
	{
		font-size: 20px;
		margin-left: 50%;
		margin-top: -5%;	
	}
	.b2
	{
		font-size: 20px;
		margin-left: 90%;
		margin-top: 5%;

	}
	.b4
	{
		font-size: 20px;
		margin-left: 82%;
		margin-top: 30%;
	}
	.b5
	{
		font-size: 20px;
		margin-left: 48%;
		margin-top: 4%;
	}
	.b7
	{
		font-size: 20px;
		margin-right:48%;
		margin-top: -25%;
	}
	.b8
	{
		font-size: 20px;
		margin-right:80%;
		margin-top: -27%;
	}
	.b10
	{
		font-size: 20px;
		margin-right:85%; 
		margin-top: -52%;
	}
	.b11
	{
		font-size: 20px;
		margin-right:55%; 
		margin-top: -34%;
	}


	.c1
	{
		width:16px;
		height:16px;
		border-radius: 8px;
		background-color: black;
		margin-top: 27%;
		z-index: 999;
	}#second
	{
		position: absolute;
		width:5px;
		height:80px;
		border-radius: 10px;
		left:49.5%;
		top:24%;
		background-size: 100%;
 		transform-origin: bottom;
 	
		background-color: black;
	}
	#minute
	{
		position: absolute;
		width:5px;
		height:60px;
		left:49.5%;
		top:30%;
		background-size: 100%;
		border-radius: 10px;
	
	 	transform-origin: bottom;
		background-color: black;
	}
	#hour
	{
		position: absolute;
		width:5px;
		height:44px;
		border-radius: 10px;
		background-size: 100%;
 		transform-origin: bottom;
 	
		background-color: black;
		left:49%;
		top:37%;
	}
	#sec
	{
		font-size: 20px;
		color:white;
	}

	#min
	{
		font-size: 20px;
		color:white;
	}

	#ho
	{
		font-size: 20px;
		color:white;
	}
.digital
{

	width:40%;
	height:auto;
	background-color: rgba(200,0,0,.9);
	border-radius: 20px;
	font-size: 20px;
	color:white;
	padding-top: 10px;
	padding-bottom: 10px;
}
	}

.digital
{
		margin-top: 30px;
	width:40%;
	height:auto;
	background-color: rgba(200,0,0,.9);
	border-radius: 20px;
	font-size: 30px;
	color:white;
	padding-top: 10px;
	padding-bottom: 10px;
}
#sec
{
	font-size: 30px;
	color:white;
}

#min
{
	font-size: 30px;
	color:white;
}

#ho
{
	font-size: 30px;
	color:white;
}
